h1 {
  font-family: "Georgia", serif;
  font-size: 28px;
  font-weight: bold;
  color: #030c16;
}

.condition {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 30px 3rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(163, 59, 59);
}

body {
  background-image: url("moviesbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: -8px;
  height: 100%;
  overflow: auto;
}
[type="submit"] {
  display: inline-block;
  padding: 6px 15px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db;
  color: #ffffff;
  border: 1px solid #2980b9;
  border-radius: 5px;
  cursor: pointer;
}

[type="submit"]:hover {
  cursor: pointer;
  background-color: #2980b9;
}

[type="text"] {
  width: 200px;
  height: 25px;
}

.date {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: whitesmoke;
  background-color: rgb(149, 54, 54);
}
